<h1>{{name}}</h1>

<p>Travel date: {{input type='date' value=date}}</p>
<p>Months out: {{input type='number' value=months}}</p>
<p>Cost: {{input type='number' value=cost}}</p>

<hr>

<p>You'll need to save <strong>${{monthlySavingsRequired}}</strong> per month for your trip.</p>